TBANK_TOKEN=replace_with_real_token
TBANK_SSL_ROOTS_PATH=
TBANK_ACCOUNT_ID=
TBANK_INSTRUMENT_ID=
TBANK_TICKER=SBER
TBANK_CLASS_CODE=TQBR
TBANK_ITERATIONS=10
TBANK_STREAM_ITERATIONS=3
TBANK_ORDER_ITERATIONS=3
TBANK_CONNECT_TIMEOUT_SECONDS=5
TBANK_STREAM_TIMEOUT_SECONDS=5
TBANK_ORDER_QUANTITY_LOTS=1
TBANK_ORDER_OFFSET_STEPS=20
TBANK_ENABLE_MARKET_ROUNDTRIP_TEST=0

SCALPER_MODE=paper
SCALPER_CLASS_CODE=TQBR
SCALPER_WATCHLIST=SBER,GAZP,LKOH,VTBR
SCALPER_ORDERBOOK_DEPTH=1
SCALPER_ORDER_QUANTITY_LOTS=1
SCALPER_MAX_POSITION_NOTIONAL_RUB=30000
SCALPER_DAILY_LOSS_LIMIT_RUB=2500
SCALPER_COOLDOWN_SECONDS=12
SCALPER_TIME_STOP_SECONDS=8
SCALPER_IMPULSE_WINDOW_SECONDS=2.5
SCALPER_MAX_SPREAD_BPS=2.5
SCALPER_MIN_IMBALANCE=0.58
SCALPER_MIN_IMPULSE_BPS=6
SCALPER_TAKE_PROFIT_BPS=18
SCALPER_STOP_LOSS_BPS=10
SCALPER_MIN_EXPECTED_EDGE_BPS=14
SCALPER_PREMIUM_SHARE_COMMISSION_BPS=4.0
SCALPER_PAPER_INITIAL_CASH_RUB=300000
SCALPER_POSITION_SIZING_MODE=equal_weight_cash
SCALPER_TIMEZONE=Europe/Moscow
SCALPER_ENTRY_WEEKDAYS=mon,tue,wed,thu,fri
SCALPER_ENTRY_START=10:15
SCALPER_ENTRY_END=17:45
SCALPER_ALLOW_SHORT=0
SCALPER_MAX_OPEN_POSITIONS=4
SCALPER_RUN_DURATION_SECONDS=0
SCALPER_RUNTIME_DIR=runtime
SCALPER_DASHBOARD_HOST=0.0.0.0
SCALPER_DASHBOARD_PORT=8080
SCALPER_ALLOW_LIVE_TRADING=0
SCALPER_OPTIMIZER_DAYS=5
SCALPER_OPTIMIZER_MIN_TRADES=5
SCALPER_ANALYSIS_DAYS=5
SCALPER_ANALYSIS_TOP=5
SCALPER_AUTO_TUNE_ENABLED=1
SCALPER_AUTO_TUNE_MIN_TRADES=8
SCALPER_AUTO_TUNE_MIN_DELTA_RUB=0
